extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let earbudsid = toShow._id
        - let earbuds_brand = toShow.earbuds_brand
        - let earbuds_quantity = toShow.earbuds_quantity
        - let earbuds_cost = toShow.earbuds_cost
        - let actionid = "/resource/earbuds/" + earbudsid

        script let actionid = "#{actionid}"
        div
            div.row
                div(class='earbudAttr mr-3') Earbud ID is: #{earbudsid}
            div.row
                div(class='earbudAttr mr-3') Earbud Brand is: #{earbuds_brand}
            div.row
                div(class='earbudAttr mr-3') Earbud Quantity is: #{earbuds_quantity}
            div.row
                div(class='earbudAttr mr-3') Earbud Cost is: #{earbuds_cost}
        br
        br
        button(class="btn m-2" id="btn-3" onclick="deleteOnid()") Delete
        button(class="btn m-2" id="btn-4" onclick="cancel()") Cancel
    
    script.
        function cancel() {
        // Go back to the home page for the costume collection
            window.location.href='/earbuds'
        }

    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, { method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/earbuds'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }